/* stili generali della pagina, desktop first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 15px;
    font-family: 'Comic Neue', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}


/* stili main */
main {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    /* debug */
    background-color:lightcyan;
}

#left-bar {
    width: 250px;
    /* debug */
    background-color: red;
}

#main-content {
    width: calc(100vw - 250px);
    /* debug */
    background-color: yellow;
}



/* stili player */
#player {
    height: 100px;
    width: 100%;
    /* debug */
    background-color: grey;
}