/* stili generali della pagina, desktop first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 15px;
    font-family: 'Comic Neue', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}


/***************************** main ****************************/
main {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    /* debug */
    background-color:lightcyan;
}


/* stili left-bar */

#left-bar {
    width: 250px;
    color: #717171;
    padding-left: 15px;
    /* debug */
    background-color: red;
}

#logo img {
    width: 60%;
    padding-top: 10px;
}

#buttons {
    width: 100%;
    padding-top: 10px;
    /* debug */
    background-color: green;
}

.btn-row {
    width: 100%;
    /* debug */
    background-color: lightcyan;
    min-height: 25px;
    border: 1px solid black;
}

#playlist {
    padding-top: 10px;
    /* debug */
    width: 100%;
    background-color: orange;
    min-height: 400px;
}

#playlist > span {
    color: white;
    font-weight: bold;
}

#create-new-playlist {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* debug */
    min-height: 60px;
    background-color: purple;
}

.name-playlist {
    display: flex;
    align-items: center;
    padding: 5px 0;
    /* debug */
    min-height: 30px;
    background-color: lightgreen;
    border: 1px solid black;
}









/* stili main */
#main-content {
    flex-grow: 1;
    overflow-y: scroll;
    /* debug */
    background-color: yellow;
}

#upgrade-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* debug */
    background-color: aqua;
    min-height: 70px;
    /* regole da inserire successivamente */
    /* opacity: 0.1; */
    /* position: fixed; */
    /* top: 0; */
}

#upgrade-bar span {
    color: white;
    background-color: rgba(0,0,0,0);
    border: solid 2px white;
    padding: 7px 30px;
    border-radius: 50px;
    margin-right: 3px;
}

#discover {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    min-height: 50px;
    background-color: rgb(189, 189, 253);
}

#discover ul {
    list-style: none;
}

#discover li {
    display: inline-block;
    padding: 0 10px;
}

#discover a {
    text-decoration: none;
}

.customized-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 25px;
    /* debug */
    min-height: 200px;
}

#recently-played {
    /* debug */
    background-color: rgb(128, 128, 121);
}

#created-for-you {
    /* debug */
    background-color: rgb(156, 240, 219);
}

#popular-artists {
    /* debug */
    background-color: rgb(249, 144, 144);
}


.music-box {
    text-align: center;
    padding-top: 20px;
    margin-right: 20px;
}

.img-container {
    width: 180px;
    height: 180px;
}

.img-container img {
    width: 100%;
}

.round-img {
    border-radius: 50%;
    object-fit: contain;
}

.customized-row h2 {
    width: 100%;
    color: white;
    font-size: 20px;
}

.customized-row h3 {
    color: white;
    font-size: 17px;
}

.customized-row span {
    font-size: 14px;
    width: 100%;
}






/* stili player */
#player {
    display: flex;
    height: 100px;
    width: 100%;
    z-index: 100;
    background-color: #282828
}

.player-col {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

#left-player {
    width: 25%;
    padding-left: 10px;
    color: #878787;
}

#song-playing {
    display: flex;
}

#song-playing img {
    width: 15%;
}

#name-and-artist {
    padding: 0 30px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#artist-name {
    color: white;
    font-weight: bold;
}

#left-player-icons {
    display: flex;
    align-items: center;
    padding-left: 30px;
    
}

#left-player-icons i {
    margin-right: 15px;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
}

#left-player-icons i:hover {
    color: white;
}

#center-player {
    width: 50%;
    justify-content: center;
}

#right-player {
    width: 25%;
    justify-content: flex-end;
    padding-right: 10px;
}