/* versioni per tablet */
@media all and (max-width: 1000px) {

    #left-bar {
        min-width: 200px;
    }

    .music-box {
        width: calc((100% / 4) - 20px);
        margin: 0 10px;
    }


    

    #discover li {
        padding-top: 10px;
    }


}



@media all and (max-width: 700px) {

    #left-bar {
        min-width: 150px;
    }

    .music-box {
        width: calc((100% / 3) - 20px);
        margin: 0 10px;
    }

    #name-and-artist {
        font-size: 10px;
    }
    
    #artist-name {
        font-weight: bold;
        color: white;
    }
    
    #left-player-icons i {
        font-size: 12px;
        margin-right: 3px;
    }





}








/* versione per smartphone */
@media all and (max-width: 550px) {

    #left-bar {
        min-width: 50px;
    }

    #logo-big {
        display: none;
    }

    #logo-small {
        display: inline-block;
        width: 70%;
        padding-top: 10px;
    }

    #left-bar a, #playlist, #left-bar span, hr {
        display: none;
    }

    #user i {
        font-size: 20px;
    }

    .music-box {
        width: calc((100% / 2) - 20px);
        margin: 0 10px;
    }






}